* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btn {
  display: flex;
  gap: 10px;
}