* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  display: flex;
  flex-direction: column;
  align-items: center;
} */



.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btn {
  display: flex;
  gap: 10px;
}

/* Animation */
.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

/* pagination */

.page__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

/* router */

.navbar {
  height: 50px;
  width: 1200px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 15 px;
  background: lightgray;
}

.navbar__links {
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding-right: 20px;
}