.code {
    font-family: "Fira Code", Consolas, "Courier New", monospace;
    font-size: clamp(14px, 1.8vw, 16px);
    background-color: #f5f8f8;
    color: #db300e;
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid #e5e7eb;

}