.postsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.postEnter {
    transform: translateX(-350px);
}

.postEnterActive {
    transform: translateX(0);
    transition: all 500ms ease-in;
}

.postExit {
    opacity: 1;
}

.postExitActive {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}