pre {

    display: inline;
    color: red;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    white-space: pre;

}

code {

    font-family: monospace;
}