.pre {
    background-color: #959191;

    padding: 14px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.pre code {
    font-family: "Fira Code", Consolas, Monaco, monospace;
}