.socialList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #287136;
    padding: 20px;
    justify-content: center;
}

.socialItem {
    list-style: none;
    display: flex;
    width: calc(50% - 10px);
    justify-content: center;
}

.socialLink {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    margin: 5px;
    background-color: #fff;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
    transition: 0.5s;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
    font-size: 24px;
}

.socialLink:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.socialLink::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    background-color: #f00;
}

.socialLink:hover::before {
    top: 0;
}


@media (min-width: 768px) {
    .socialItem {
        width: calc(25% - 10px);

    }

    .socialLink {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 28px;
        margin: 8px;
    }

    .icon {
        font-size: 28px;
    }

    .socialList {
        padding: 40px;
    }
}


@media (min-width: 1200px) {
    .socialItem {
        width: auto;
    }

    .socialLink {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 35px;
        margin: 10px;
    }

    .icon {
        font-size: 35px;
    }

    .socialList {
        padding: 56px;
    }
}